# Berlin LOR Crime Atlas (source-aligned) - Sample Notebook

## Explore data

In [1]:

import pandas as pd        

# Read csv file
dataframe = pd.read_csv("./data/03-gold/berlin-crime-atlas-2023-00-csv/berlin-crime-atlas-2023-00-frequency-numbers-forecast-areas.csv")

In [2]:

# Display 5 first rows
dataframe.head()

,id,offences,robbery,street_robbery_purse_snatching,bodily_harm,dangerous_and_grievous_bodily_harm,deprivation_of_liberty_coercion_threat_stalking,theft,motor_vehicle_theft,theft_from_motor_vehicle,bicycle_theft,residential_burglary,fire_offences,arson,damage_to_property,damage_to_property_by_graffiti,narcotics_offences,kieztaten
0,110,118877.0,1089.0,636.0,10403.0,2729.0,4572.0,56524.0,421.0,4894.0,5920.0,909.0,302.0,82.0,8918.0,1650.0,3944.0,24338.0
1,120,37636.0,269.0,161.0,3421.0,862.0,1587.0,14124.0,146.0,1934.0,1247.0,368.0,243.0,108.0,2590.0,331.0,1679.0,7829.0
2,130,33611.0,412.0,194.0,3804.0,1121.0,1742.0,14854.0,271.0,2224.0,1926.0,423.0,249.0,63.0,2797.0,486.0,1233.0,8925.0
3,140,31448.0,433.0,271.0,3203.0,983.0,1462.0,14858.0,230.0,2900.0,2353.0,380.0,201.0,67.0,2306.0,272.0,1326.0,8686.0
4,199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:

# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 18 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   id                                               70 non-null     int64
 1   offences                                         70 non-null     float64
 2   robbery                                          70 non-null     float64
 3   street_robbery_purse_snatching                   70 non-null     float64
 4   bodily_harm                                      70 non-null     float64
 5   dangerous_and_grievous_bodily_harm               70 non-null     float64
 6   deprivation_of_liberty_coercion_threat_stalking  70 non-null     float64
 7   theft                                            70 non-null     float64
 8   motor_vehicle_theft                              70 non-null     float64
 9   theft_from_motor_vehicle                         70 non-null     float64
 10  bicycle_theft                                    70 non-null     float64
 11  residential_burglary                             70 non-null     float64
 12  fire_offences                                    70 non-null     float64
 13  arson                                            70 non-null     float64
 14  damage_to_property                               70 non-null     float64
 15  damage_to_property_by_graffiti                   70 non-null     float64
 16  narcotics_offences                               70 non-null     float64
 17  kieztaten                                        70 non-null     float64
dtypes: float64(17), int64(1)
memory usage: 10.0 KB

In [4]:

# Describe dataframe
dataframe.describe()

,id,offences,robbery,street_robbery_purse_snatching,bodily_harm,dangerous_and_grievous_bodily_harm,deprivation_of_liberty_coercion_threat_stalking,theft,motor_vehicle_theft,theft_from_motor_vehicle,bicycle_theft,residential_burglary,fire_offences,arson,damage_to_property,damage_to_property_by_graffiti,narcotics_offences,kieztaten
count,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.00000,70.000000,70.000000,70.000000
mean,686.542857,23808.214286,252.714286,155.671429,2398.385714,612.100000,1130.057143,10721.328571,409.971429,1916.757143,1379.400000,442.157143,169.314286,59.057143,2276.30000,364.900000,803.085714,5876.014286
std,349.335505,20333.469241,254.536985,166.076176,1892.606479,543.403556,836.010174,9687.391173,307.149964,1701.650992,1268.051871,287.705648,139.199528,52.887873,1758.97781,366.805289,1253.269460,4571.035491
min,110.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,377.250000,12224.750000,87.000000,64.750000,1168.750000,217.250000,615.750000,4881.750000,164.000000,911.500000,559.750000,285.250000,82.750000,23.000000,1391.00000,101.750000,185.000000,3103.750000
50%,704.500000,21340.000000,212.500000,122.500000,2271.000000,574.000000,1074.000000,9414.000000,396.500000,1709.500000,991.000000,474.500000,141.000000,48.500000,2263.50000,260.000000,430.500000,5753.000000
75%,986.750000,30024.750000,340.500000,193.250000,3411.500000,850.750000,1650.250000,13392.500000,606.750000,2505.500000,1946.250000,588.500000,250.750000,81.750000,2911.25000,525.500000,1003.500000,8217.000000
max,1299.000000,118877.000000,1410.000000,1016.000000,10403.000000,2735.000000,4572.000000,56524.000000,1128.000000,10216.000000,5920.000000,1127.000000,806.000000,297.000000,8918.00000,1650.000000,8384.000000,24338.000000